.upload #file {
    opacity: 0;
    outline: none;
    appearance: none;
    width: 0.25rem;
    cursor: pointer;
    z-index: 999;
    margin: 0;
    padding: 1rem;
}

.upload #filebtn {
    padding: 0;
    cursor: pointer;
}

.upload #filebtn .input-wrapper {
    border: none;
    cursor: pointer;
}