code {
    color: rgb(249, 47, 94);
}

#home-page {
    padding: 1rem 2rem;
}

#home-header {
    position: relative;
}

.home-header-menu {
    display: inline-flex;
    font-size: 1.25rem;
}

.menu-item {
    margin: 0;
    padding: 1rem 1.5rem;
}

.menu-item a {
    color: #6D6D6D !important;
}

.menu-item a:hover {
    color: #2A2A2A !important;
}

.home-header-menu .tooltip {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: #222222;
}

.home-header-menu .head-link.link {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: #222222;
}

.home-header-menu a:hover {
    text-decoration: underline !important;
}

.home-page-body {
    max-width: 85rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.home-page-footer {
    background-color: #FAFAFA;
    margin: 0 -2rem -1rem -2rem;
    padding: 2rem 6rem;
}

.home-page-footer .footer-link {
    color: #5A5A5A;
}

.home-page-footer .footer-link-a {
    font-size: 1.25rem;
    color: #6D6D6D !important;
    margin-bottom: 0.5rem !important;
}

/*滚动时高斯模糊*/
.home-page-header-scroll-disable {
    display: none;
}

.home-page-header-scroll {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 1rem;
    left: 0;
    display: flex;
    cursor: pointer;
}

.home-page-header-scroll-body {
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    box-shadow: 0 0 0.25rem 0 #d0d0d0;
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
}

.home-page-header-scroll:hover .home-page-header-scroll-body {
    max-width: 25rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 0.5rem 0 #d0d0d0;
}

.jjapps-logo {
    cursor: pointer;
    width: 20rem;
    height: 20rem;
    background: radial-gradient(circle, #ffffff 0%, #aaaaaa 10%, #eeeeee 25%, #888888 50%, #666666 60%, #111111 75%, #1f1f1f 100%);
    border-radius: 50%;
}

.jjapps-logo:hover {
    background: radial-gradient(circle, #1f1f1f 0%, #333333 10%, #444444 25%, #888888 50%, #aaaaaa 60%, #eeeeee 75%, #1f1f1f 100%);
}

.jjapps-logo-footer {
    cursor: pointer;
    width: 12.5rem;
    height: 12.5rem;
    background: radial-gradient(circle, #ffffff 0%, #aaaaaa 10%, #eeeeee 25%, #888888 50%, #666666 60%, #111111 75%, #1f1f1f 100%);
    border-radius: 50%;
    margin: 1rem 1.25rem;
}

.jjapps-logo-footer:hover {
    background: radial-gradient(circle, #1f1f1f 0%, #333333 10%, #444444 25%, #888888 50%, #aaaaaa 60%, #eeeeee 75%, #1f1f1f 100%);
}

.card.language .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card img.language-logo {
    width: 2.5rem !important;
    margin-right: 0.5rem;
}

.card .language-text {
    font-size: 1.25rem;
    text-transform: capitalize;
}