@keyframes appStatus {
    0% {
        top: 2rem;
    }
    60% {
        top: 0;
    }
    100% {
        top: 2rem;
    }
}

.runStatus {
    position: relative;
    height: 2rem;
    margin-bottom: 1rem;
}

.appStatusAnim {
    animation-duration: 1.2s;
    animation-name: appStatus;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}