.circular {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
}
.circular-text {
    font-family: 'Reddit Sans', -apple-system, BlinkMacSystemFont, 'Noto Sans SC', 'Ubuntu', 'Helvetica Neue', "微软雅黑", "Microsoft YaHei", sans-serif;
    font-style: italic;
    border-radius: 50%;
    width: 160px;
    position: relative;
    height: 160px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    color: #6D6D6D;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

.circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
