.circular-text {
    margin: 2rem auto;
    border-radius: 50%;
    width: 200px;
    position: relative;
    height: 200px;
    font-weight: bolder;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff2424, #2ba3f4);
    text-align: center;
    cursor: pointer;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

.circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 24px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
